
#table

{
    border-collapse: collapse;
}
#table,th, td {
    border-collapse: collapse;
    caption-side:bottom;


    border: 5px solid green;
    }
#table{
    width:100%;
    max-width:700px;
    min-width:400px;
    text-align:center;
}





.produit{
    border: cornflowerblue 2px solid;
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 20px;

}

.produit:hover{
    border: red 2px solid;
}
h1{
    text-align: center;
    color: green;
    border: orangered 5px dashed;
}

h3{
    color: blue;
    text-align: center;
}
h2{
    position: absolute;
    margin-left: 320px;
}


img {
    width: 300px;
    height: 300px;
}

